<!-- Home Page-->
<div class="banner">
  <h1>Welcome to Finance Manager</h1>
  <p>Efficiently manage your finances by adding, viewing, and summarizing
    records for income, expenses, and savings.</p>
  <p>Track your financial activities and receive budget alerts with ease.</p>
</div>