<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-container">
          <h1>Finance Manager</h1>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Register</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container">
      {{{body}}}
    </div>
    <footer>
      <p>&copy; 2024 Finance Manager. All rights reserved.</p>
    </footer>
  </body>
</html>